@charset "utf-8";
/* CSS Document */
html {
  font-size: 20px;
}

body {
  font-family: "微软雅黑";
  overflow-x:hidden;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button, input, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*-webkit-touch-callout:none;*/
  /*-webkit-user-select:none;*/
  /*-khtml-user-select:none;*/
  /*-moz-user-select:none;*/
  /*-ms-user-select:none;*/
  /*user-select:none;*/
  /*设置内嵌的元素在 3D 空间如何呈现：保留 3D*/
  /*-webkit-transform-style: preserve-3d;*/
  /*（设置进行转换的元素的背面在面对用户时是否可见：隐藏）*/
  -webkit-backface-visibility: hidden;
}

input::-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder{
  color:#999;
}

.c_green {
  color: #1AB99B;
}

.c_gray {
  color: #D4D4D4
}

.c_grayH {
  color: #7F7F7F;
}

.c_yellow {
  color: #ff9302;
}

.bg_green {
  background: #1AB99B;
}

.bg_gray {
  background: #D4D4D4
}

.bg_grayH {
  background: #7F7F7F;
}

.bg_yellow {
  background: #FCAB37;
}

[v-cloak] {
  display: none;
}

.clearfix:before,
.clearfix:after, .list li:after {
  content: '';
  display: block;
  /*overflow: hidden;*/
  /*visibility: hidden;*/
  width: 0;
  height: 0;
}

.clearfix:after, .list li:after {
  clear: both
}

.clearfix {
  *zoom: 1
}


.all {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  /*overflow:hidden;*/
  background: #eee;
  top:0;
}

.head {
  position: fixed;
  background: #f5f5f5;
  top: 0;
  z-index: 97;
  width: 100%;
  background: #fff;
}

.nav {
  width: 100%;
  padding: 0 0.3rem;
  position: relative;
}

.nav ul {
  position: relative;
}

.nav ul li {
  text-align: center;
  float: left;
  cursor: pointer;
  width: 50%;
  font-size: 0.7rem;
  color: #999;
  padding: 0.75rem 0;
}

.nav ul li > span {
  display: inline-block;
  line-height: 1.5rem;
  width: 100%;
  padding: 0 0.3rem;
  font-size: 0.9rem;
}

.nav ul li:first-child > span {
  border-right: 1px solid #D4D4DA;
}

.nav ul:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

.nav ul > #navCur > span {
  color: #1AB99B;
}

.content {
  width: 100%;
  margin: 3.5rem 0 0 0;
}

.banner {
  max-height: 10rem;
  overflow: hidden;
}

.card_box {
  width: 100%;
  font-size: 0.7rem;
  overflow: auto;
}

.card_box .card {
  margin: 0.2rem 0;
  padding: 0 0.3rem;
  background: #fff;
  border: 1px solid #fff;
  position: relative;
}

/*box-shadow:0 0.05rem 0.1rem rgba(0, 0, 0, 0.3);*/
.in_card_box {
  width: 100%;
  height: 7rem;
  padding: 1rem 0.8rem;;
  border-bottom: 1px solid #eee;
  background: #fff;
  transition:opacity 0.5s ease;
}

.in_card_box .img_box {
  width: 8rem;
  height: 100%;
  overflow: hidden;
  float: left;
}

.img_box img {
  width: 100%;
  min-height:100%;
}

.in_card_box .info_box {
  margin-left: 9rem;
  position: relative;
  height: 100%;
}

.info_box h4 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  font-size: 1rem;
  color: #333;
  font-weight: normal;
}

.info_box h4 span {
  font-size: 0.7rem;
  font-weight: normal;
  color: #999;
}

.info_box > div {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.info_box > div dl {
  float: left;
  color: #999;
  /*width: 45%;*/
  font-size: 0.8rem;
}

.info_box > div dl dt {
  margin-bottom: 0.3rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

.info_box > div dl dd {
  width: 100%;
  margin-bottom: 0;
  line-height: 1rem;
}

.info_box > div dl dd .l {
  display: inline-block;
  text-indent: 1.1rem;
  background: url('../img/icon-person.png') no-repeat center left;
  background-size: auto 90%;
  float: left;
}

.info_box > div dl dd .r {
  float: right;
  margin-left:0.5rem;
}

.info_box > div .list_btn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5rem;
  line-height: 2.2rem;
  border-radius: 0.2rem;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
}

.icon-list{
  width:100%;
  padding: 1rem 0;
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
}
.icon-box{
  width:25%;
  height:auto;
  margin:0.5rem 0;
  text-align:center;
  position:relative;
  transition:opacity 0.3s ease;
}
.icon-box>.icon-img-box{
  width:4.2rem;
  height:4.2rem;
  margin: 0 auto 0.5rem;
  border-radius:50%;
  overflow:hidden;
}
.icon-box>.icon-img-box>img{
  width:100%;
  min-height:100%;
}
.icon-box>p{
  width:100%;
  overflow:hidden;
  font-size:0.9rem;
  color:#666;
}
.icon-box>span{
  width:100%;
  overflow:hidden;
  position:relative;
  top:-0.3rem;
  color:#999;
  font-size:0.75rem;
}


/**loader**/
.layout {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('../img/bg.png');
  z-index: 98;
  top: 0;
}

.layout > * {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.layout span {
  display: block;
  height: 100%;
  width: 1px;
}

.loader {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.ball-spin-fade-loader {
  position: relative;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.ball-spin-fade-loader > div:nth-child(1) {
  top: 25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
  animation: ball-spin-fade-loader 1s 0s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(2) {
  top: 17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
  animation: ball-spin-fade-loader 1s 0.12s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
  animation: ball-spin-fade-loader 1s 0.24s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(4) {
  top: -17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
  animation: ball-spin-fade-loader 1s 0.36s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(5) {
  top: -25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0.48s infinite linear;
  animation: ball-spin-fade-loader 1s 0.48s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(6) {
  top: -17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.6s infinite linear;
  animation: ball-spin-fade-loader 1s 0.6s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.72s infinite linear;
  animation: ball-spin-fade-loader 1s 0.72s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(8) {
  top: 17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.84s infinite linear;
  animation: ball-spin-fade-loader 1s 0.84s infinite linear;
}

.ball-spin-fade-loader > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
}

/**loader**/

/**ZJ**/
.content-first {
  background-color: #ffffff;
  margin-top: -0.2rem;
  border-bottom: 1px solid #E3E4E5;
  padding: 0.5rem 0;
}

.content-first,.content-second,.foot-time{
  padding:1rem 1rem;
  font-size:0.9rem;
}

.content-first .con-tit{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.content-first .con-tit h4{
  font-weight:normal;
  font-size:1.2rem;
}

.content-first .c-grade{
  font-size:0.8rem;
  color:#777;
  line-height:2rem;
}

.first-left {
  font-size: 1rem;
  color: #141414;
  font-weight: bold;
  float: left;
  position: relative;
  max-width: 60%;
}

.first-left span {
  font-size: 0.7rem;
  color: #999;
  font-weight: normal;
  line-height: 0.7rem;
}

.first-right {
  position: relative;
  width: 5rem;
  height: 2rem;
  border: 1px solid #FDC63F;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 3px;
  display:flex;
  justify-content:center;
  align-items: center;
}

.first-img {
  width:0.8rem
}
.first-img img{
  width:100%;
  display: block;
}

.first-p {
  float: left;
  color: #FDC63F;
  margin-left: 0.5rem;
  /*text-align: center;*/
}

.content-second {
  background-color: #ffffff;
  height: 6rem;
  /*border:1px solid red;*/
  /*margin-top: 0.5rem;*/
}

.second-left img {
  float: left;
  border-radius: 50%;
}

.second-right {
  float: left;
  margin-left: 1rem;
}

.right-name {
  margin-top: 1rem;
  color: #333;
  font-size: 0.9rem;
}

.right-branch {
  color: #666666;
  margin-top: 0.3rem;
  font-size: 0.8rem;
}

.footer {
  padding-bottom: 3rem;
  background-color: #f5f5f5;
  /*margin-top: 0.5rem;*/
  /*border:1px solid #f5f5f5;*/
  width: 100%;
}

.foot-time {
  margin-top: 0.3rem;
  /*border: 1px solid red;*/
  background-color: #ffffff;
  /*line-height:3rem ;*/
}

.foot-time > div::after{
  content:'';
  display: block;
  width:100%;
  clear:both;
}
.foot-time > div::before{
  content:'';
  display: block;
  width:100%;
  clear:both;
}

.time {
  margin-top: 0.5rem;
  width: 90%;
}

.time-img {
  float: left;
}

.time-p {
  color: #868686;
  margin-top: 0.1rem;
  margin-left: 0.2rem;
}

.time-first {
  width: 90%;
}

.time-img-first {
  float: left;
}
.time-img-first > img{
  width:1.5rem;
  height:1.5rem;
}

.time-p-first {
  color: #868686;
  margin-top: 0.1rem;
  margin-left: 0.2rem;
  float: left;
}

.foot-wrap {
  background-color: #f5f5f5;
  width: 100%;
}

.wrap-content {
  padding-top: 1rem;
  width: 100%;
}

.con-first {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #141414;
}

.con-second {
  color: #868686;
  margin-left: 1rem;
  font-size: 0.9rem;
  width: 90%;
  margin-top: 0.5rem;
  white-space: normal;
}

.btn_box {
  width: 100%;
  max-width: 800px;
  position: fixed;
  bottom: 0;
  padding: 0.5rem 0;
}

.btn {
  margin: 0 auto;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 0.3rem;
  width: 90%;
  color: #ffffff;
  font-size: 0.9rem;
}

.btn > div {
  border-radius: 0.3rem;
}

.right-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  background: #fff;
  z-index: 9999;
}

/*modal*/
.modalBox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 500px;
  z-index: 101;
}

.modalBg{background:#000;width:100%;height:100%;position:fixed;opacity:0.7;z-index:100}
.modalBg-enter-active{
  transition:opacity 0.4s ease;
  opacity:0.7;
}
.modalBg-enter{
  opacity:0;
}
.modalBg-leave-active{
  transition:opacity 0.4s ease;
  opacity: 0;
}
.modalBg-leave{
  opacity:0.7;
}

.modal {
  width: 15rem;
  margin: -3rem auto 0;
  top: 40%;
  background: #fff;
  position: relative;
  border-radius: 0.4rem;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.modal .modalHeader, .modal .modalContent, .modal .modalFooter {
  text-align: center;
}

.modal .modalHeader {
  font-size: 1rem;
  padding: 1em 0.5rem 0.5rem;
}

.modal .modalContent {
  font-size: 0.9rem;
  padding: 0 1rem 1.5rem;
}

.modal .modalFooter {
  border-top: 1px solid #e2e2e2;
  padding: 0;
  line-height: 2rem;
}

.modal .modalFooter .modalBtn {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 0.9rem;
  color: #0577FF;
}

.modal .modalFooter .modalBtn:first-child {
  border-right: 1px solid #e2e2e2;
}

.modalBtnBgGray {
  background: #e2e2e2;
}
.modal-enter{
  /*transition:opacity 0.5s ease;*/
  opacity:0;
}
.modal-enter .modal{
  transform: translateZ(120px);
}

.modal-enter-active{

  opacity:1;
}
.modal-enter-active .modal{
  transform: translateZ(110px);
}

.modal-leave{
  opacity:1;
}
.modal-leave .modal{
  transform: translateZ(110px);
}

.modal-leave-active{
  transition:opacity 0.3s ease;
  opacity:0;
}
.modal-leave-active .modal{
  transform: translateZ(120px);
}
/*modal*/
